*{
    padding: 0;
    margin: 0;
}

body{
    background-color: gray;
}
header{
    text-align: center;
    background-color: black;
}

a{

    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 140px;
    padding: 40px;
    
}
a:hover{
    transition-duration: 2s;
    color: blue;
    text-shadow: 3px 3px 10px;
    font-size: 45px;
}

.card{
    text-align: center;
    border: solid 1px ;
    width: 385px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    font-size: 22px;


}

.card h2{
    position: relative;
    padding: 10px;
}

.card img{
    border-radius: 20px;
    padding: 10px;
}


.produtos{
    background-color:white;
    width: max-content;
    padding: 10px;
    font-size: 50px;
    position: relative;
    bottom: 330px;
    left: 700px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 20px;
    
}
.produtos p{
    background-color: gray;
    margin: 15px;
    border-radius: 10px;

}
.produtos p:hover{
    background-color: gray;
    font-size: 60px;
    transition: 2s;
    box-shadow: 1px 1px 10px;
    cursor: pointer;
    width: 360px;
    box-shadow: 1px 1px 10px;
    

}



